/* #box1 {
  border: 5px solid;
  width: 250px;
  height: 250px;
  font-size: 22px;
  background: greenyellow;
}

#box2 {
  border: 5px solid;
  width: 250px;
  height: 250px;
  font-size: 22px;
  background: dodgerblue;
} */

/* h1,
p {
  border-style: inset;
  border-width: 5px;
  border-color: gold;
  border-radius: 10px;
  padding: 5px;
} */
